body {
	font-family: Segoe Ui;
	color: #d9d9d9;
	background-color: white; /* #454545; */
     overflow:hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-animation: rotateInLeft 2s;
    animation: rotateInLeft 2s;
}

@-webkit-keyframes rotateInLeft {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes rotateInLeft {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*
table {
	margin-top: 10px;
}
*/

.image {
	cursor: pointer;
	width: 75px;
	height: 98.5px;
	background-color: red;
	border-style: solid;
	border-width: 3px;
	border-color: #787878 ;
	-transition: box-shadow 1s;
	-moz-transition: box-shadow 1s;
	-webkit-transition: box-shadow 1s;
}

.image:hover {
	box-shadow: 0 0 10px #787878;
}

    #copyright
    {
            position: absolute;
            bottom: -30px;
            padding-bottom:10px;
            padding-left: 2px;
            color: white;
            font-size:15px;
            background-color: gray;
            width: 150px;
            -transition: bottom 0.5s;
            -webkit-transition: bottom 0.5s;
            -moz-transition: bottom 0.5s;
    } 

    #copyright:hover
    {
        bottom: 0px;
    }

#scor {
    margin-top: 20px;
    padding-top: 5px;
    width: 100px;
    height: 30px;
    background-color: #787878;
    border-radius: 3px;
}

#title {
    font-size: 45px;
    margin-top: 40px;
    -transition: color 2s;
    -moz-transition: color 2s;
    -webkit-transition: color 2s;
}

#title:hover {
    color: red;
}