body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow: hidden;
	color: darkcyan;
}

#titlu {
	font-size: 50px;
	font-family: Segoe UI;
	text-align: center;
}

.card {
	cursor: pointer;
	height: 120px;
	width: 90px;
	text-align: center;
	padding-top: 20px;
	font-size: 40px;
	color: darkCyan;
	text-shadow:0 0 2px darkCyan;
	box-shadow: 2px 2px 5px black;
	display: none;
	border-radius: 5px;
	border-style: solid;
	border-width: 2px;
	border-color: cyan darkcyan;
}

#clicks {
	color: gray;
	font-size: 20px;
}

#copyright {
    position: absolute;
    bottom: -30px;
    right: 10px;
    padding-bottom:10px;
    padding-left: 2px;
    color: white;
    font-size:15px;
    background-color: gray;
    width: 150px;
    -transition: bottom 0.5s;
    -webkit-transition: bottom 0.5s;
    -moz-transition: bottom 0.5s;
} 

#copyright:hover {
    bottom: 0px;
}

#query {
	display: none;
	width: 400px;
	height: 200px;
	padding-top: 40px;
	text-align: center;
	border-radius: 5px;
	border-style: solid;
	border-width: 2px;
	border-color: cyan green;
	background-color: lightcyan;
	font-size: 20px;
}

#send {
	font-size: 18px;
	width: 100px;
	text-align: center;
	border-radius: 5px;
	border-style: solid;
	border-width: 2px;
	border-color: cyan green;
	background-color: lightcyan;
	cursor: pointer;
	-transition: background-color 1s;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
}

#send:hover {
	background-color: cyan;
}

#error {
	color: red;
}

#score {
	position: absolute;
    right: 0px;
    width : 100px;
    height : 30px;
    padding-top: 5px;
    padding-left: 15px;
    background-color: #f0f0f0;
    color: darkcyan;
    border-radius: 5px 0px 0px 5px;
    -transition: width 0.5s;
    -webkit-transition: width 0.5s;
    -moz-transition: width 0.5s;
}

#score:hover {
	width: 150px;
}

#gamenr {
	position: absolute;
	top: 100px;
    right: 0px;
    width : 100px;
    height : 30px;
    padding-top: 5px;
    padding-left: 15px;
    background-color: #f0f0f0;
    color: darkcyan;
    border-radius: 5px 0px 0px 5px;
    -transition: width 0.5s;
    -webkit-transition: width 0.5s;
    -moz-transition: width 0.5s;
}

#gamenr:hover {
	width: 150px;
}
